/* src/App.css */
.room-listing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-card {
  width: 80%;
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.room-card h3 {
  font-size: 1.5em;
}

.media-placeholder {
  width: 100%;
  height: 200px;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  text-align: center;
  padding: 16px;
}

::-webkit-scrollbar{
  display: none;
}


/* Modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  display: flex;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  position: fixed;
  left:50%;
  transform: translateX(-50%);
  height:80%;
  overflow-y: scroll;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Room Variants List */
.variant-list {
  list-style: none;
  padding: 0;
}

.variant-item {
  border: 1px solid #e0e0e0;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Select Room Button */
.select-room-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.select-room-btn:hover {
  background-color: #218838;
}
